h1 {
    background: linear-gradient(0.25turn,#002AFF,  #007bff);
}

.card-body-custom {
    background: linear-gradient(0.25turn,#002AFF,  #007bff);
}

/* 
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #007bff
    /* Choose your own color here */
} */
